<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tbusuario/usuario.css">
  <title>Itens</title>
</head>
<body onload="readItem()">
    <h1>Itens</h1>
    <a href="../home.html">Volta para home</a>
    <table id="table">
      <thead>
        <tr><th colspan="4">
          Itens
        </th></tr>
        <tr>
        <th><button class='sal' onclick='novoItem()'>
          <i class="fa fa-plus-square" aria-hidden="true"></i>
      </button></th>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>

      </thead>
      <tbody id="item">
        
      </tbody>
    </table>
    <div id="div"></div>
</body>
<script src="itens.js"></script>
</html>