<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tbusuario/usuario.css">
  <title>Itens</title>
</head>

<body onload="readItem()">
  <a href="../tbconta/conta.html">Conta</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="../tbtipo_lista/tipo-lista.html">Lista</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="../tbusuario/login/login.html" onclick="limpaLocalStorage()">Sair</a><br><br>
  <h1>Itens</h1>
  <table id="table">
    <thead>
      <tr>
        <th><button class='sal' onclick='novoItem()'><i class="fa fa-plus-square" aria-hidden="true"></i></button></th>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="item"></tbody>
  </table>
  <div id="div"></div>
</body>
<script src="itens.js"></script>

</html>