<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../tbusuario/usuario.css">
  <title>Itens</title>
</head>
<body onload="readItem()">
    <h1>Itens</h1>
    <a href="../home.html">Volta para home</a>
    <table id="table">
      <thead>
        <tr><th colspan="6">
          Itens
        </th></tr>
        <tr>
          <th>id_item</th>
        <th>id_lista</th>
        <th>id_usuario</th>
        <th>nome_lista</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>

      </thead>
      <tbody id="item">
        
      </tbody>
    </table>
</body>
<script src="itens.js"></script>
</html>