<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.jpg">
    <link rel="stylesheet" type="text/css" href="./usuario.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Perfil</title>
</head>

<body onload="readPerfil()">
    <header class="menu__principal">
        <img class="logo" src="../img/logo.jpg" alt="">
        <nav class="menu__navegacao">
            <div class="item-menu-linha">
		        <a href="#" onclick="passaDadosUrl()" class="item-menu">Sugestões</a>
                <a href="../tbusuario/login/login.html" onclick="limpaLocalStorage()" class="item-menu">Sair</a>
            </div>
            <div class="item-menu-linha">
                <a href="../tbtipo_lista/tipo-lista.html" class="item-menu">Lista</a>
                <a href="../tbconta/conta.html" class="item-menu">Conta</a>
            </div>
        </nav>
    </header>

    <div class="divlogin">
        <h1 class="titulodiv">Perfil</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="inputForm">
                <article>
                    <img class="imgusu" id="exibir" src="" alt="">
                </article>
                <i class="fa fa-pencil" aria-hidden="true" onclick="passaIdUrl()"></i>
            </div>

            <div class="inputForm">
                <input type="text" placeholder="Nome do usuário" id="nome_usuario">
                <label>Nome *</label>
            </div>

            <div class="inputForm">
                <input type="email" placeholder="Email do usuário" id="email_usuario">
                <label>Email *</label>
            </div>
                <i class="fa fa-eye-slash emoji" id="esconderSenha" aria-hidden="true"></i>
                <i class="fa fa-eye emoji" id="verSenha" aria-hidden="true" style="display:none;"></i>
            <div class="inputForm">
                <input type="password" placeholder="Senha" id="senha">
                <label>Senha *</label>
            </div>

            <div class="inputForm">
                <aside>
                    <input type="radio" id="generom" name="generoradio" value="M">
                    <legend for="masculino">Masculino</legend>
                    <input type="radio" id="generof" name="generoradio" value="F">
                    <legend for="feminino">Feminino</legend>
                    <label class="genero">Genero *</label>
                </aside>
            </div>
        </form>
        <section class="container">
            <button class="deletar" onclick="excluirPerfil()">Excluir perfil</button>
            <button class="alterar" onclick="alterarPerfil()">Alterar perfil</button>
        </section>
    </div>

    <footer class="rodape">
        <div class="rodape__container">
            <p class="rodape__texto"></p>
        </div>
    </footer>
    <script>
        let data = new Date();
        data = data.getFullYear();
        document.querySelector(".rodape__texto").innerHTML = `Lista Online ${data} - Todos os Direitos Reservados.`;
    </script>
</body>
<script src="./usuario.js"></script>

</html>