<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../tbusuario/usuario.css">
    <title>Conta</title>
</head>

<body onload="readConta()">
    <a href="../tbtipo_lista/tipo-lista.html">Lista</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="../tbusuario/perfil.html">Perfil</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="../tbusuario/login/login.html" onclick="limpaLocalStorage()">Sair</a><br><br>
    <h1>Conta</h1>
    <table id="table">
        <thead>
            <tr>
                <th><i onclick="novaConta()" class="fa fa-plus-square" aria-hidden="true"></i></th>
                <th>Conta</th>
                <th>Vencimanto</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="conta"></tbody>
    </table>
    <div id="div"></div>
</body>
<script src="./conta.js"></script>

</html>