@import "../style.css";

.Formulario__conta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.Titulo__Form {
  font-size: 1.25rem;
  text-transform: uppercase;
}

#input_conta,
#vencimento,
#valor {
  padding: 0.5rem;
  font-size: 1rem;
}

.container-botao {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-around;
}

.Botao-form {
  background-color: var(--cor-de-fundo-menu);
  color: var(--cor-da-fonte-menu);
  width: 7.37rem;
  height: 3.25rem;
  font-size: 1rem;
  border-radius: 0;
  border: 1px var(--cor-de-fundo-menu) solid;
}

aside {
  border: 1px solid;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100% 100%;
}

.novo {
  margin: 10px;
  width: 1.55rem;
  height: 1.45rem;
  font-size: 1.9rem;
  color: #0B2447;
}

h1 {
  text-align: left;
  color: #0B2447;
  margin: 10px 0;
}

div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100% 100% 100%;
}

section {
  border: 1px solid;
  margin: 10px;
  width: 95%;
  height: auto;
  display: inline-block;
}

p {
  font-size: 17pt;
  text-align: center;
  width: 93%;
  height: auto;
  margin: 8px 10px;
}

input[type="checkbox"] {
  width: 100%;
  height: 80%;
  margin-top: 3px;
}

span {
  font-size: 20pt;
  margin: 0 0 5px 0;
  width: 100%;
  text-align: center;
}