<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/logo.jpg">
    <link rel="stylesheet" type="text/css" href="../usuario.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Login</title>
</head>

<body>
    <header class="menu__principal">
        <img class="logo" src="../../img/logo.jpg" alt="">
        <nav class="menu__navegacao">
            <div class="item-menu-linha">
                <a href="../../home.html" class="item-menu">Home</a>
            </div>
            <div class="item-menu-linha">
                <a href="../../quemsomos/quemsomos.html" class="item-menu">Quem Somos?</a>
                <a href="../cadastrar.html" class="item-menu">Cadastre-se</a>
            </div>
        </nav>
    </header>
    <div class="divlogin">
        <h1 class="titulodiv">Login</h1>
        <form id="formlogin" action="" method="POST">
            <div class="inputForm">
                <input type="email" id="email_usuario">
                <label>Email *</label>
            </div>
                <i class="fa fa-eye-slash emoji" id="esconderSenha" aria-hidden="true"></i>
                <i class="fa fa-eye emoji" id="verSenha" aria-hidden="true" style="display:none;"></i>
            <div class="inputForm">
                <input type="password" id="senha">
                <label>Senha *</label>
            </div>
        </form>
        <button id="btnlogar" onclick="logar()">Logar</button>
        <p class="msg" id="mensagem"></p>
        <a class="esqueci" href="./novasenha.html">Esqueci minha senha</a>
    </div>
    <footer class="rodape">
        <div class="rodape__container">
            <p class="rodape__texto"></p>
        </div>
    </footer>
    <script>
        let data = new Date();
        data = data.getFullYear();
        document.querySelector(".rodape__texto").innerHTML = `Lista Online ${data} - Todos os Direitos Reservados.`;
    </script>
</body>
<script src="./login.js"></script>

</html>