<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../usuario.css">
    <title>Nova senha</title>
</head>

<body>
    <a href="../../home.html">Home</a><br><br>
    <h1>Nova senha</h1>
    <form id="formlogin" action="" method="POST">
        <label>Nome*<br>
            <input type="text" placeholder="Nome do usuário" id="nome_usuario">
        </label><br>
        <label>Email *<br>
            <input type="email" placeholder="Email do usuário" id="email_usuario">
        </label>
        </fieldset>
    </form>
    <button id="btnlogar" onclick="emailNovaSenha()">Acessar</button><br><br>
</body>
<script src="./login.js"></script>

</html>