@import "style.css";

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.btn-principal {
  padding: 1rem;
  width: 130px;
  text-transform: uppercase;
  color: var(--cor-da-fonte-menu);
  background-color: var(--cor-de-fundo-menu);
  text-decoration: none;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.container__telas {
  display: flex;
  flex-wrap: nowrap;
  padding: 2rem;
}

.tela-imagem:nth-child(2) {
  transform: skew(-6deg, 6deg);
}

.tela-imagem {
  width: 50%;
  transform: skew(6deg, -6deg);
  box-shadow: 10px 5px 5px var(--cor-de-fundo-menu);
  border: 1px solid var(--cor-de-fundo-menu);
}

@media screen and (min-width:800px) {
  .principal {
    width: 50%;
    margin: auto;
  }

  .tela-imagem {
    width: 20rem;
  }

  .btn-principal:hover {
    transition: 0.5s;
    color: var(--cor-de-fundo-menu);
    background-color: white;
    border: 1px solid var(--cor-de-fundo-menu)
  }
}