<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./contato.css">
    <title>Contato</title>
</head>

<body>
    <nav></nav>
    <section>
        <h1>Contato</h1>
        <div class="divimg">
            <hr>
            </hr>
            <img src="../img/homem aranha.jpeg" alt="">
            <hr>
            </hr><br>
            <p><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marcelo Felipe</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;marcelofelipe@gmail.com</p>
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;(19) 90000-0000</p>
            <hr>
            </hr><br>
            <img src="../img/robes.jpg" alt="">
            <hr>
            </hr><br>
            <p><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Robésio</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;robesio@gmail.com</p>
            <p><i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;(19) 90000-0000</p>
        </div>
    </section>
    <article></article>
</body>

</html>