@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "../style.css";

section {
    margin: 0;
    width: 100%;
    height: auto;
}

.divimg {
    margin: 5px;
    width: 95%;
    height: auto;
}

aside .programador {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 10px 0 0 30%;
    border-radius: 100%;
    border: 1px solid #0B2447;
}

.fa-linkedin-square {
    color: #0288D1;
}

.fa-github {
    color: #171515;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-whatsapp {
    color: #075e54;
}

.fa-envelope {
    font-size: 30pt;
}

.nome {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25pt;
    color: #0B2447;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
    margin: 0 0 8% 16%;
    display: inline-block;
    width: auto;
    font-size: 35pt;
    height: auto;
}

@media screen and (min-width:800px) {
    section{
        width: 46rem;
        margin: auto;
        text-align: center;
        padding: 0.5rem;
    }

    .divimg{
        width: 100%;
        margin: 0;
    }

    h1{
        width: 46rem;
    }

    h2{
        margin: 0;
        padding: 1rem;
    }

    hr{
        margin: 0.5rem;
    }

    aside img.programador{
        margin: auto;
    }

    h2 a i:hover{
        transition: 0.5s;
        font-size: 3rem;
    }

}