@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "../style.css";

#table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

.Titulo__Principal {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 900;
}

tr:nth-child(even) {
  background: lightgray;
}

.item--tabela {
  white-space: wrap;
  word-break: break-all;
  padding: 1rem;
  font-size: 17pt;
}

.opcoes--tabela {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.edi,
.del,
.sal,
.can,
.novo {
  margin: 0 0.25rem 0 0.25rem;
  width: 2rem;
  height: 1.25rem;
  font-size: 1.5rem;
}

.div {
  display: none;
}

.Formulario__lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

#input_lista {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.container-botao {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-around;
}

.Botao-form {
  background-color: var(--cor-de-fundo-menu);
  color: var(--cor-da-fonte-menu);
  width: 7.37rem;
  height: 3.25rem;
  font-size: 1rem;
  border-radius: 0;
  border: 1px var(--cor-de-fundo-menu) solid;
  border-radius: 10px;
}