<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../tbusuario/usuario.css">
    <title>Lista</title>
</head>

<body onload="readTipoLista()">
    <a href="../tbconta/conta.html">Conta</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="../tbusuario/perfil.html">Perfil</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="../tbusuario/login/login.html" onclick="limpaLocalStorage()">Sair</a><br><br>
    <h1>Lista</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Lista</th>
                <th><button class='sal' onclick='novaLista()'><i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button></th>
            </tr>
        </thead>
        <tbody id="lista"></tbody>
    </table>
    <div id="div"></div>
</body>
<script src="./tipo-lista.js"></script>

</html>