@import "../style.css";

#table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  background: #0B2447;
  border-radius: 10px;
}

.texttable{
  color: var(--cor-da-fonte-menu);
}

td {
  color: white;
}

main {
  width: 97%;
  margin: 5px;
}

.Titulo__Principal {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 900;
}

tr:nth-child(even) {
  background: #577D86;
}

.item--tabela {
  white-space: wrap;
  word-break: break-all;
  padding: 1rem;
  font-size: 17pt;
}

.opcoes--tabela {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}

.edi,
.del,
.sal,
.can,
.novo {
  margin: 0 0.25rem 0 0.25rem;
  width: 2rem;
  height: 1.25rem;
  font-size: 1.5rem;
}

.div {
  display: none;
}

.Formulario__lista {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

#input_lista {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.container-botao {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-around;
}

.Botao-form {
  background-color: var(--cor-de-fundo-menu);
  color: var(--cor-da-fonte-menu);
  width: 7.37rem;
  height: 3.25rem;
  font-size: 1rem;
  border-radius: 0;
  border: 1px var(--cor-de-fundo-menu) solid;
  border-radius: 10px;
}

@media screen and (min-width:800px) {
  #table {
    width: 50rem;
    margin: 2rem auto;
  }

  .item--tabela:hover {
    border: 1px solid black;
    cursor: pointer;
    text-decoration: underline;
  }

  .fa:hover {
    cursor: pointer;
    font-size: 2.1rem;
  }

  .opcoes--tabela {
    justify-content: center;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
  }

  #div {
    width: 30rem;
    margin: auto;
  }

  .Botao-form:hover {
    cursor: pointer;
    transition: 0.5s;
    color: var(--cor-de-fundo-menu);
    background-color: white;
    border: 1px solid var(--cor-de-fundo-menu);
  }
}