@import "../style.css";

form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

::placeholder{
    font-size: 0.9rem;
}

.input-usuario{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#txtnome,
#txtemail{
  margin: 0 1.5rem;
  font-size: 1.2rem;
  border: none;
}

label{
  font-size: 1.5rem;
}

#sugestao{
  resize: none;
  font-size: 1.5rem;
  width: 90%;
  margin: 1rem;
  padding: 0.5rem;
}

.btn-form{
    border: 1px solid;
    margin: 0;
    width: 10rem;
    height: 40px;
    background: #0B2447;
    color: white;
    font-size: 17pt;
    border-radius: 10px;
}

@media screen and (min-width:800px) {  
  main{
    width: 800px;
    margin: auto;
  }
  .input-usuario{
    display: flex;
    justify-content: baseline;
  }
  
  #txtnome,
  #txtemail{
    margin: 0 2rem;
    font-size: 1.2rem;
    border: none;
  }
  
}