@import "../style.css";

.principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 0.5rem;
  border: 1px solid var(--cor-de-fundo-menu);
  border-radius: 10px;
  background-color: var(--cor-de-fundo-menu);
  color: var(--cor-da-fonte-menu);
}

h2.Titulo__Principal {
  color: var(--cor-da-fonte-menu);
  margin-bottom: 0.5rem;
  padding: 0;
}

.Foto--desenvolvedor {
  width: 60%;
  border-radius: 50%;
}

.texto__principal {
  margin-top: 1rem;
}

.links-contato {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.links-contato a i {
  color: var(--cor-da-fonte-menu);
}

@media screen and (min-width:800px) {
  .principal {
    width: 48rem;
    margin: auto;
    display: grid;
    align-items: center;
    column-gap: 0.5rem;
    grid-template-columns: 50% 50%;
    gap: 0;
  }

  h1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .container {
    padding: 0;
    height: 100%;
  }

  h2.Titulo__Principal {
    color: var(--cor-da-fonte-menu);
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
  }

  .Foto--desenvolvedor {
    margin-top: 1rem;
    width: 15rem;
    border-radius: 50%;
  }

  .texto__principal {
    margin: 1rem;
  }

  .links-contato {
    padding-bottom: 2rem;
  }

  .links-contato a i:hover {
    transition: 0.5s;
    font-size: 2.4rem;
  }
}