<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../img/logo.jpg">
  <link rel="stylesheet" href="quemsomos.css" />
  <title>Sobre os Desenvolvedores</title>
</head>

<body>
  <header class="menu__principal">
    <img class="logo" src="../img/logo.jpg" alt="" />
    <nav class="menu__navegacao">
      <div class="item-menu-linha">
        <a href="../home.html" class="item-menu">Home</a>
      </div>
      <div class="item-menu-linha">
        <a href="../tbusuario/cadastrar.html" class="item-menu">Cadastre-se</a>
        <a href="../tbusuario/login/login.html" class="item-menu">Login</a>
      </div>
    </nav>
  </header>
  <main class="principal">
    <h1 class="Titulo__Principal"></h1>
    <div class="container">
      <h2 class="Titulo__Principal">Robésio</h2>
      <img src="../img/robes.jpg" alt="" class="Foto--desenvolvedor" />
      <p class="texto__principal">
        Robésio do Carmo Silva, 26 anos, natural de São Bento
        do Una - PE, Atualmente mora em jaguariúna- SP, formado em técnico
        em desenvolvimento de sistema, pelo SENAI.
      </p>
      <div class="links-contato">
        <a href="#">
          <i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/rob%C3%A9sio-silva-40ba2a226/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/Robesio">
          <i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/robesiodocarmo/">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/robesio.docarmo">
          <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://wa.me/5519983143044">
          <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="container">
      <h2 class="Titulo__Principal">Marcelo</h2>
      <img src="../img/marcelo.jpg" alt="" class="Foto--desenvolvedor" />
      <p class="texto__principal">
        Marcelo Felipe, 33 Anos, Natural de Pedreira - SP, Atualmente mora em
        jaguariúna- SP, Apaixonado por Tecnologia, Games e Longas pedaladas,
        Cursou Técnico em Eletrotécnica e Técnico de Informática
      </p>
      <div class="links-contato">
        <a href="mailto:marcelobelotto@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/marcelo-belotto-497a65a3/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/marcelo-belotto">
          <i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/marcelo_felipe90/">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://wa.me/5519997267440"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </main>

  <footer class="rodape">
    <div class="rodape__container">
      <p class="rodape__texto"></p>
    </div>
  </footer>
  <script>
    let data = new Date();
    data = data.getFullYear();
    document.querySelector(
      ".rodape__texto"
    ).innerHTML = `Lista Online ${data} - Todos os Direitos Reservados.`;
  </script>
</body>

</html>